// Base Color Scheme
// (I'm Stealing All Your Colors)
$teal: #6ecadc;
$yellow: #e9a820;
$pink: #e01563;
$green: #3eb991;
$dark-gray: #555;
$light-gray: #ccc;

// * * *
// Theme
// * * *

// Text
$color--copy: $dark-gray;
$color--header: $yellow;
$color--input: $pink;
$color--lg-copy: $teal;

// Layout
$color--bg: white;