// * * *
// SVG Sock Clothesline Animation
// * * *

// Initial State
.svg {
  &--clothesline {
    transform-origin: 0 0;
  }

  &--sock1,
  &--sock2 {
    transform-origin: 30%;
  }
}

// Animation State
.header__svg:hover {
  .svg {
    &--clothesline {
      animation: spring .45s ease-in-out alternate infinite;
    }

    &--sock1,
    &--sock2 {
      animation: sock .45s ease-in-out alternate infinite;
    }
  }
}

// Animations
@keyframes spring {
  from {
    transform: scale(1,1.01);
  }
  to {
    transform: scale(1,0.96);
  }
}

@keyframes sock {
  from {
    transform: rotate(0) translateY(0);
  }
  to {
    transform: rotate(3deg) translateY(-4px);
  }
}