// shared state placeholder
%control__btn {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  display: none;
  color: mix($teal, $color--copy, 30%);
  cursor: pointer;
  transition-duration: .5s;
  transform-origin: 50%;

  &:hover,
  &:focus {
    color: $color--copy;
  }

  .lightbox-open & {
    display: block;
    pointer-events: initial;
  }
}

// controls section output style
.controls {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;

  &__btn {
    &--close {
      @extend %control__btn;
      font-size: 3em;
      right: .25em;
      top: .25em;
    }

    &--prev {
      @extend %control__btn;
      font-size: 5em;
      left: .25em;
      top: 40vh;

      &:hover {
        animation: waddle .5s ease-in-out alternate infinite;
      }
    }

    &--next {
      @extend %control__btn;
      font-size: 5em;
      right: .25em;
      top: 40vh;

      &:hover {
        animation: waddle .5s ease-in-out alternate infinite;
      }
    }
  }
}

// animations
@keyframes waddle {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}