.result {
  &__list {
    width: 100%;
    max-width: 1000px;
    margin: 2em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__fig {
    @include aspect-ratio(1,1);
    cursor: pointer;
    overflow: hidden;
    border: 1px solid $light-gray;

    .lightboxed & {
      border: none;
      height: 100%;
    }
  }

  &__image {
    height: 100%;
    max-width: 130%;
    margin: 0 auto;

    .lightboxed & {
      margin: 10vh auto;
      max-height: 500px;
    }
  }

  &__block {
    width: 230px;
    margin: .5em;
    transition-duration: $transition--base;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }

    &.lightboxed {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background: rgba($color--lg-copy, .95);
      margin: 0;

      &:hover,
      &:focus {
        transform: scale(1);
      }

    }
  }

  &__caption {
    position: absolute;
    text-align: center;
    background: $color--copy;
    color: white;
    padding: 1em;
    width: 100%;
    font-size: 1.5em;
    font-weight: 200;

    .lightboxed & {
      bottom: 0;
    }
  }
}

.preload--msg {
  text-align: center;
  font-size: 1.5em;
  margin: 2em auto 70vh;
}