.search {
  &__area {
    font-size: 3em;
    text-align: center;
  }

  &__text{
    color: $color--lg-copy;

    &--hash {
      color: $color--lg-copy;
    }
  }

  &__input {
    border: none;
    border-bottom: 2px dashed $light-gray;
    color: $color--copy;
    font-size: 100%;
    font-weight: 200;
    max-width: 5em;
    outline: none;
    transition-duration: $transition--base;

    &::placeholder {
      color: mix(white, $color--input, 50%);
    }

    &:hover,
    &:focus {
      background: mix(white, $color--lg-copy, 50%);
      border-bottom: 2px dashed $color--bg;

      &::placeholder {
        color: mix(white, $color--copy, 50%);
      }
    }
  }

  &__submit {
    background: none;
    border: 2px dashed $light-gray;
    color: #555;
    cursor: pointer;
    font-size: 40%;
    font-weight: 200;
    margin-left: 1em;
    outline: none;
    padding: 0.6em;
    transition-duration: $transition--base;
    vertical-align: middle;

    &:hover,
    &:focus {
      background: mix(white, $color--lg-copy, 50%);
      border: 2px dashed $color--copy;
    }
  }
}